<a href="https://colab.research.google.com/github/Supreme-YS/ML/blob/main/201204_Iris_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 아이리스 품종 분류

파일경로 : 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'

In [ ]:
# 1. 과거의 데이터를 준비한다
# 2. 모델의 구조를 만든다
# 3. 모델을 학습한다
# 4. 모델을 이용한다

In [ ]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [ ]:
# 1. 과거의 데이터를 준비한다
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_setosa  품종_versicolor  품종_virginica
0   5.1  3.5    1.4   0.2          1              0             0
1   4.9  3.0    1.4   0.2          1              0             0
2   4.7  3.2    1.3   0.2          1              0             0
3   4.6  3.1    1.5   0.2          1              0             0
4   5.0  3.6    1.4   0.2          1              0             0

In [ ]:
print(인코딩.columns)

Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종_setosa', '품종_versicolor',
       '품종_virginica'],
      dtype='object')

In [ ]:
# 독립변수, 종속변수 분리
독립 = 인코딩[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속 = 인코딩[['품종_setosa', '품종_versicolor', '품종_virginica']]
print(독립.shape, 종속.shape)

(150, 4) (150, 3)

In [ ]:
# 2. 모델의 구조를 만든다
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(3, activation='softmax')(X) # 분류(classification) 문제 해결을 위해 활성화 함수 softmax 사용
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy',
              metrics='accuracy') # 사람이 보기 쉽게 accuracy 부분 추가

In [ ]:
# 3. 데이터로 모델을 학습한다.
model.fit(독립, 종속, epochs=1000, verbose=0) # 실제로 학습이 되어가는 과정을 보이는 건 loss

In [17]:
# 4. 모델 이용하기
model.predict(독립[-5:])

array([[9.9995887e-01, 4.1104966e-05, 1.8069626e-11],
       [9.9965012e-01, 3.4984961e-04, 6.5553984e-10],
       [9.9989533e-01, 1.0470002e-04, 1.2672167e-10],
       [9.9954516e-01, 4.5481272e-04, 1.1317208e-09],
       [9.9997103e-01, 2.8926881e-05, 1.1186357e-11]], dtype=float32)

In [19]:
print(종속[-5:])

     품종_setosa  품종_versicolor  품종_virginica
145          0              0             1
146          0              0             1
147          0              0             1
148          0              0             1
149          0              0             1

In [20]:
# 학습한 가중치
model.get_weights()

[array([[ 1.4529297 ,  0.903177  , -0.25247112],
        [ 4.600056  ,  0.53659165, -1.9008545 ],
        [-5.7843266 , -0.7452526 ,  1.061773  ],
        [-5.625957  , -2.3756695 ,  3.238382  ]], dtype=float32),
 array([ 2.6147459,  1.8365091, -2.028677 ], dtype=float32)]