<a href="https://colab.research.google.com/github/Supreme-YS/ML/blob/main/201203_boston_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# 1. 과거의 데이터 준비
# 2. 모델의 구조 만들기
# 3. 모델 학습시키기
# 4. 모델 이용하기

github csv url : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [ ]:
# 1. 과거 데이터 준비
파일경로 = '/content/boston.csv'
보스턴 = pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [ ]:
# 2. 모델 구조 만들기

X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'mse')

In [ ]:
# 3. 모델 학습시키기
model.fit(독립, 종속, epochs = 1000, verbose=0)

In [ ]:
# 4. 모델 이용하기
model.predict(독립[0:5])

array([[29.356153],
       [24.434534],
       [30.453161],
       [29.61506 ],
       [29.059597]], dtype=float32)

In [ ]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [ ]:
'''29를 24로
24를 21로
30을 34로
29를 33로
29를 36으로 예측을 한 것. '''

SyntaxError: ignored

In [ ]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.08841108],
        [ 0.06685205],
        [-0.05647454],
        [ 3.2372465 ],
        [ 2.1042042 ],
        [ 4.4573936 ],
        [ 0.00559544],
        [-0.9471856 ],
        [ 0.15569907],
        [-0.00987438],
        [-0.11732044],
        [ 0.01479884],
        [-0.5426624 ]], dtype=float32), array([2.7444932], dtype=float32)]